header {
  .carousel-item {
    text-align: start;
    height: 100vh;
    min-height: 30rem;
  }
  .carousel-caption {
    left: 0;
    top: 14rem;
    margin-left: 12rem;
    h1 {
      max-width: 21ch;
      margin-bottom: 2.4rem;
      text-align: start;
    }
    .para {
      margin-bottom: 4.8rem;
      text-align: start;
      max-width: 65ch;
    }
    .primary-btn{
        display: flex;
    }
    .white{
      color: var(--color-white);
    }
  }
}

// Media Queries starts...................................

@media screen and (max-width: 768px) {
  header{
    .carousel-inner{
      background: var(--color-primary);
    }
    .carousel-caption{
      margin-left: 0;
      top: 50rem;
      left: 3rem;
      h1,.para{
        color: var(--color-white);
      }
    }
    .primary-btn{
      a{
        .btn-text{
          background: var(--color-secondary);
          color: var(--color-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header{
    .carousel-caption{
      top: 30rem;
      h1{
        font-size: 3rem;
        line-height: 4.2rem;
      }
    }
  }
}