.navbar {
  background: var(--color-primary);
  padding-block: 3rem;
  &-nav,
  &-expand-lg {
    justify-content: center;
    align-items: center;
    gap: 4rem;
    .nav-link {
      color: var(--color-white);
      &::after {
        content: " ";
        display: block;
        width: 0;
        height: 0.2rem;
        background-color: var(--color-secondary);
        transition: all 0.5s ease;
        margin-top: 0.1rem;
        margin: auto;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: var(--color-secondary);
      }
    }
    .activee{
      color: var(--color-secondary);
      transition: all 0.4s ease;
      &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: var(--color-secondary);
      }
    }
  }
  &-collapse{
    justify-content: end;
  }
  &-toggler{
    flex-direction: column;
    display: flex;
    gap: .4rem;
  }
  &-toggler-icon{
    background: var(--color-secondary);
    height: .2rem;
    width: 2rem;
  }
}

// Media Queries

@media screen and (max-width: 768px) {
  .navbar-expand-lg, .navbar-nav {
    gap: 4rem ;
    justify-content: center;
    padding: 2rem;
    align-items: flex-start;
  }
  .navbar-collapse {
    padding-block: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar-expand-lg, .navbar-nav {
    align-items: center;
  }
  .navbar-collapse {
    padding-block: 8rem;
  }
}
