// footer form
form {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
  .input-box {
    position: relative;
    input {
      width: 36.2rem;
      height: 4.85rem;
      padding: 0 1.6rem;
      outline: none;
      border: transparent;
      border-radius: 0.2rem;
      &:focus ~ label,
      &:not(:placeholder-shown).input:not(:focus) ~ label {
        top: -1.4rem;
        left: -0.1rem;
        transition: top 200ms, left 200ms, font-size 200ms;
        font-size: 1.2rem 1.4rem;
        background: var(--color-white);
        border: 0.2rem solid var(--color-secondary);
        padding: 0.2rem;
      }
      &:focus {
        border: 0.2rem solid var(--color-secondary);
      }
    }
    label {
      margin-bottom: 0;
      position: absolute;
      top: 1.2rem;
      left: 1.3rem;
      color: var(--color-input) !important;
    }
  }
  .primary-btn {
    a {
      .btn-text {
        margin-bottom: 0;
      }
    }
  }
}

// joinus page form
.join_us-form {
  padding: 0 30rem;
  form {
    display: flex;
    flex-direction: column;
    .client-name {
      display: flex;
      width: 100%;
      gap: 1.6rem;
      margin-bottom: 1rem;
      .first-name,
      .last-name {
        width: 50%;
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 0.4rem;
        }
        input {
          height: 4rem;
          background: var(--background-about-us);
          outline: none;
          border: none;
          border-radius: 0.2rem;
          padding: 0 1.2rem;
        }
      }
    }
    .client-email {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
      label {
        margin-bottom: 0.4rem;
      }
      input {
        height: 4rem;
        background: var(--background-about-us);
        outline: none;
        border: none;
        border-radius: 0.2rem;
        padding: 0 1.2rem;
      }
    }
    .client-contact {
      display: flex;
      width: 100%;
      gap: 1.6rem;
      margin-bottom: 1rem;
      .phone {
        width: 50%;
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 0.4rem;
        }
        input {
          height: 4rem;
          background: var(--background-about-us);
          outline: none;
          border: none;
          border-radius: 0.2rem;
          padding: 0 1.2rem;
        }
      }
      .location {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
          margin-bottom: 0.4rem;
        }
        select {
          height: 4rem;
          background: var(--background-about-us);
          outline: none;
          border: none;
          border-radius: 0.2rem;
          padding: 0 1.2rem;
        }
      }
    }
    .client-services {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
      label {
        margin-bottom: 0.4rem;
      }
      select {
        height: 4rem;
        background: var(--background-about-us);
        outline: none;
        border: none;
        border-radius: 0.2rem;
        padding: 0 1.2rem;
      }
    }
    .client-textarea {
      margin-bottom: 1rem;
      label {
        margin-bottom: 0.4rem;
      }
      textarea {
        width: 100%;
        background: var(--background-about-us);
        outline: none;
        border: none;
        border-radius: 0.2rem;
        padding: 2rem;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width:768px) {
    .join_us-form{
        padding: 0 2rem;
        form{
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width:480px) {
    .client-name{
        flex-direction: column;
        .first-name{
            width: 100% !important;
        }
        .last-name{
            width: 100% !important;
        }
    }
    .client-contact{
        flex-direction: column;
        .phone{
            width: 100% !important;
        }
        .location{
            width: 100% !important;
        }
    }
}